/*-------------------------------
             font
  -------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------------------- 
common styles or utilities 
-------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 16px;
}

/* header */
.header {
    display: flex;
    align-items: center;
    background: #2c5f2dff;
    border-radius: 30px;
    color: #ffe77aff;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px
}

.game-info {
    padding-left: 80px;
    margin-right: 40px;
}

.game-info a {
    text-decoration: none;
    color: #2c5f2dff;
}

#live {
    background-color: #ffe77aff;
    width: 187px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    font-weight: 900;
}

.banner {
    margin-right: 80px;
}

.banner img {
    width: 400px;
    height: 440px;
}

/* main container */

.main-container {
    display: flex;
    width: 100%;
}

.aside {
    background-color: #2c5f2dff;
    width: 300px;
    height: 325px;
    border-radius: 10px;
    align-items: center;
    padding-top: 3px;
    float: left;
    margin-top: 10px;
}

.categories {
    padding: 25px;
    background-color: #ffe77aff;
    text-align: center;
    margin: 23px;
    border-radius: 10px;
}

h3 {
    color: #2c5f2dff;
}

h3 a {
    text-decoration: none;
    color: #2c5f2dff;
}

.now {
    background-color: #D64161FF;
}

/* article */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h4 {
    width: 120px;
    height: 20px;
    border: 2px solid #2c5f2dff;
    border-radius: 5px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}

.article p {
    margin-left: 10px;
}

.article {
    width: 240px;
    height: 330px;
    border: 1px solid #2c5f2dff;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 10px;
}

.fa-regular {
    padding-right: 30px;
    margin-left: 10px;
}

.blog-font {
    font-family: 'Poppins', sans-serif;
}

.article img {
    width: 100%;
    border-radius: 10px;
}

.invisible-view {
    visibility: hidden;
}

/* footer */

footer {
    background: #2c5f2dff;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffe77aff;
    border-radius: 10px;
}

hr {
    background: linear-gradient(#ffe77aff, #2c5f2dff, #D64161FF, blue, red, yellow);
    width: 80%;
    height: 1px;
}

footer p a {
    text-decoration: none;
    color: #ffe77aff;
}

.footer-space {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

#link {
    color: green;
    font-size: 900;
}



/* responsiveness */

/* mobile view */

/* medium device Tablet */
@media screen and (min-width:577px) and (max-width: 992px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 12px;
    }

    .header {
        display: inline-flex;
        background: #2c5f2dff;
        border-radius: 30px;
        color: #ffe77aff;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .header p a {
        font-size: 13px;
    }

    .game-info {
        padding-left: 40px;
        margin-right: 20px;
    }

    .game-info a {
        text-decoration: none;
        color: #2c5f2dff;
    }

    .banner {
        margin-right: 80px;
        margin-bottom: 0px;
    }

    .banner img {
        width: 100%;
        padding-left: 40px;
        padding-bottom: 0;
    }

    #live {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        font-weight: 400;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 0;
    }

    .aside {
        display: inline-flex;
        gap: 5px;
        background: none;
        width: 100%;
        border-radius: 10px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: 13px;
        font-weight: 500;
    }

    .categories {
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
        width: 100%;
    }

    .invisible-view {
        visibility: visible;
        background-color: #2c5f2dff;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;

    }

    .invisible-view a {
        text-decoration: none;
        color: #ffe77aff;
    }
}

/* match */

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    float: right;

}

.match-color {
    border: 1px solid #2c5f2dff;
    margin-top: -320px;
    gap: 3px;
}

.match {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
}

aside {
    float: left;
    width: 30%;
    background-color: #2c5f2dff;
    width: 300px;
    height: 325px;
    border-radius: 10px;
    align-items: center;
    padding-top: 3px;
    float: left;
    margin-top: 10px;
}

.date {
    text-align: center;
}

h5 {
    color: #2c5f2dff;
    font-size: 18px;
    text-align: center;
}



@media screen and (max-width: 576px) {
    body {
        margin-left: 15px;
        margin-right: 25px;
    }

    .header {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 0;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }

    .categories {
        padding: 5px;
        background-color: #ffe77aff;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
    }

    .now {
        background-color: #D64161FF;
    }

    .game-info {
        padding-left: 10px;
        margin-right: 10px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .game-info p {
        text-align: center;
        width: 100%;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .banner img {
        width: 100%;
        margin-top: 30px;
        margin-left: 50px;
    }

    .game-info a {
        text-decoration: none;
        align-items: center;

    }

    .game-info p a {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #live {
        width: 100%;
    }

    .main-container {
        display: block;
    }

    .aside {
        background: none;
        width: 70%;
        margin-left: 15px;
    }

    .blogs {
        display: inline-block;
    }

    .article {
        width: 100%;
        height: 100%;
    }

    .article img {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .footer-space {
        display: block;
    }

}